img {
    

    &.img--info {
        width: 22px;
        height: auto;
        &.img--info--quotes{
            width: 16px;
        }
        
    }


    &.img--link {
        width: 16px;
        height: auto;
        color: #508FF4;
        margin-right: 7px;
    }
}