hr {
    padding: 0 30px;
    background-color: #E0E7FF;
    border: none;
    height: 2px;
    width: auto;
    margin: 0;
    margin-bottom: 20px;
    &.hr--2{
        margin-bottom: 18px;
    }
    &.hr--revenue{
        margin-bottom: 6px;
    }
    &.hr--quotes{
        margin-bottom: 18px;
    }
}