.pend-quotes-count {
    padding: 4px 7px;
    font: Bold 12px/14px Arial;
    line-height: 100%;
    letter-spacing: 0;
    color: #FFFFFF;
    background-color: #FF6A6A;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    justify-items: center;
    margin-right: 5px;

}