html {
    background: #01273B;
}

body {

    background: #F6F8FA;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    margin-bottom: 121px;
    padding-top: 43px;
    margin-left: 171px;
    margin-right: 213px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding: 0;
    margin: 0;
}

ul {
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}

header {
    margin-top: 0;
    margin-bottom: 22px;
    margin-left: 152px;
    margin-right: 196px;

}


.header_panel {
    background: #F6F8FA;
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.logo {}


nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 11px;
}

.nav_link {

    display: inline-block;
    vertical-align: top;
    margin-right: 14px;
    color: #508FF4;
    font: normal 14px/16px Arial;
    text-decoration: none;

    &:last-child {
        margin-right: 0;
    }

}

.nav-link--pending {
    font: Bold 12px/14px Arial;
    color: #FF6A6A;
    text-transform: uppercase;
}

#top_panel {
    margin-left: 152px;
    margin-right: 196px;
    margin-bottom: 44px;

}

.h-and-coin{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.top_panel {
    background: #FFFFFF;
    display: flex;
    align-items: center;


}

.list {
    list-style-type: none;
}

.tp_buttons {
    height: 45px;
    line-height: 45px;
    color: #707070;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 0;
    text-align: center;
    text-decoration: none;
    padding: 12px 28px;
}

.list:hover {
    background: #508FF4;

    &>* {

        color: #FFFFFF;
    }
}

#intro {
    background: url("/img/Ross-castle2.png") 100% 0% no-repeat;
    background-position: top center;
    background-size: contain;

}

.intro {
    margin-left: 152px;
    margin-right: 196px;
    justify-content: center;
    display: block;
    text-align: center;
    margin-top: 41px;
    margin-bottom: 68px;

}

.intro_text1 {
    

    text-shadow: 0px 3px 6px #00000029;
    font-size: 36px;
    font-weight: bolder;
    color: #FFFFFF;
    margin-left: 39.5%; 
    margin-top: 22px;
}

.intro_text2 {
    font: Bold 22px/34px Arial;
    letter-spacing: 0;
    color: #FFFFFF;
    margin: 0 auto;
    margin-bottom: 53px;
}

.intro_stats {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-right: 0;

}

.stats_block {
    max-width: 275px;
    max-height: 240px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 25px #52575D1A;
    border: 1px solid #E1E2E5;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 41px 47px 35px 48px;
    width: 15%;
    height: 100%;

}

.stats_image {
    height: 59px;
    width: 59px;
    background: #00B49133;
    color: #00B491;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;

    &.stats_image--blue {
        background-color: #4EB0D733;
    }

    &.stats_image--red {
        background-color: #FF6A6A33;
    }

    &.stats_image--gray {
        background-color: #8097B133;
    }
}

.stats_text1 {
    text-align: center;
    font: Bold 60px/69px Arial;
    letter-spacing: 1.88px;
    color: #28323A;
    text-transform: uppercase;
}

.stats_text2 {
    text-align: center;
    font: Bold 14px/22px Arial;
    letter-spacing: 0;
    color: #28323A;
    text-transform: uppercase;
}

.stats_text3 {
    text-align: center;
    font: Bold 50px/58px Arial;
    letter-spacing: 0;
    color: #28323A;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.diagramsBlock {
    margin-left: 152px;
    margin-right: 196px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.diagramsTitle {
    font-size: 20px;
    width: 100%;
    text-align: center;
    margin-bottom: 47px;
}

.diagramsContent {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 24px;
}